<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.insightsX">


    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".activities.LifeCycleActivity"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.insightsX"
        tools:replace="android:allowBackup">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Mention the service name here -->

        <activity
            android:name=".activities.AskPermissionsActivity"
            android:exported="true" />

        <activity
            android:name=".activities.EntryPoint"
            android:exported="true" />

        <activity
            android:name=".activities.SignUpActivity"
            android:exported="true" />

        <activity
            android:name=".activities.TrackingAppDataActivity"
            android:exported="true" />

        <activity
            android:name=".activities.EnterMemberIdActivity"
            android:exported="true" />

        <activity
            android:name=".activities.UsagePatternActivity"
            android:exported="true" />

        <activity
            android:name=".activities.SystemLogsActivity"
            android:exported="true" />

        <activity
            android:name=".activities.FinalPageActivity"
            android:exported="true" />

        <service
            android:name=".MyAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig" />
        </service>

        <service android:name=".services.AppTrackerService">
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:enabled="true"
            android:name=".receivers.RestartAppTrackerIfPhoneRestarted"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:enabled="true"
            android:name=".receivers.RestartAppTrackerIfAppClosed"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.insightsX.action.startforeground"/>
            </intent-filter>
        </receiver>

        <receiver android:enabled="true"
            android:name=".receivers.AudioPlaybackReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.music.metachanged"/>
                <action android:name="com.android.music.playstatechanged"/>
                <action android:name="com.android.music.playbackcomplete"/>
                <action android:name="com.android.music.queuechanged"/>
                <action android:name="com.htc.music.metachanged"/>
                <action android:name="fm.last.android.metachanged"/>
                <action android:name="com.sec.android.app.music.metachanged"/>
                <action android:name="com.nullsoft.winamp.metachanged"/>
                <action android:name="com.amazon.mp3.metachanged"/>
                <action android:name="com.miui.player.metachanged"/>
                <action android:name="com.real.IMP.metachanged"/>
                <action android:name="com.sonyericsson.music.metachanged"/>
                <action android:name="com.rdio.android.metachanged"/>
                <action android:name="com.samsung.sec.android.MusicPlayer.metachanged"/>
                <action android:name="com.andrew.apollo.metachanged"/>
                <action android:name="com.real.IMP.metachanged"/>
                <action android:name="com.spotify.music.playbackstatechanged"/>
                <action android:name="com.spotify.music.metadatachanged"/>
                <action android:name="com.spotify.music.queuechanged"/>
                <action android:name="com.spotify.mobile.android.playbackstatechanged"/>
                <action android:name="com.spotify.mobile.android.metadatachanged"/>
                <action android:name="com.spotify.mobile.android.queuechanged"/>
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name=".jobs.StartAppTrackerJob"-->
<!--            android:label="StartAppTrackerJob"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" >-->
<!--        </service>-->

    </application>

</manifest>